/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Site header */
.siteHeader {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    padding: 0px;
}

/* Navigation */
.navigation {
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navigation list */
.navigation ul {
    font-size: x-large;
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

/* Navigation list items */
.navigation ul li {
    position: relative;
    /* Position the icons relative to list items */
    margin-right: 20px;
    /* Adjust spacing between list items */
}

/* Navigation links */
.navigation ul li a {
    display: flex;
    /* Align text and icon in a flex container */
    align-items: center;
    /* Align items vertically */
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 20px;
}

/* Material Symbols Outlined font */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    /* Applying the Material Symbols Outlined font */
    margin-left: 5px;
    /* Adjust icon spacing from text */
    font-size: 24px;
    /* Adjust icon size if needed */
}

/* Footer */
footer {
    background-color: rgb(208, 204, 204);
    color: black;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Align content at start and end */
}

footer .right-aligned {
    text-align: right;
    /* Right-align text */
}

h1 {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 300;
    font-size: 75px;
    text-align: center;
    width: 100%;
}

/* Main content */
article {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center-align items horizontally */
    padding: 30px;
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 24px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    /* Align content at start and end */
    width: 100%;
    /* Ensure full width */
}

.left-section,
.right-section {
    flex-basis: 50%;
    /* Each section takes up half of the available space */
    padding: 0 20px;
    /* Add some space around the sections */
}

.right-section {
    text-align: right;
    /* Align image to the right */
}

.right-section img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    height: auto;
    border-style: solid;

}

.address {
    font-size: 19px;
}

.boxes {
    display: grid;
    grid-gap: 25px;
    grid-auto-rows: 4fr;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 65px;
    /* Ensure the section takes up the entire viewport height */
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12,
.box13,
.box14,
.box15,
.box16 {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-style: solid;

}

a:link {
    color: rgb(0, 0, 0);
}

a​:visited {
    color: rgb(128, 95, 128);
}

.navigation ul li a:hover {
    color: rgb(142, 173, 188);
}

.boxes>div>a:hover {
    color: rgb(26, 96, 131);
}

.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 a {
    /* Reset all formatting */
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: inherit;
    color: inherit;
    /* Add any additional properties you want to reset */
    text-decoration: none;
    /* If you want to remove underlines for linked h1 */
}

h1 a:hover {
    color: rgb(142, 173, 188);
}

.boxes .box1:hover,
.boxes .box2:hover,
.boxes .box3:hover,
.boxes .box4:hover,
.boxes .box5:hover,
.boxes .box6:hover,
.boxes .box7:hover,
.boxes .box8:hover,
.boxes .box9:hover,
.boxes .box10:hover,
.boxes .box11:hover,
.boxes .box12:hover,
.boxes .box13:hover,
.boxes .box14:hover,
.boxes .box15:hover,
.boxes .box16:hover {
    background-color: rgb(142, 173, 188);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-style: none;
}