body {
    background-color: teal;
    height: 100vh;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}